<p id="notice"><%= notice %></p>

<h1>Radiostations</h1>

<table>
  <thead>
    <tr>
      <th>Streaming url</th>
      <th>Name</th>
      <th>Logo</th>
      <th>Description</th>
      <th>Active</th>
      <th>Online</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @radiostations.each do |radiostation| %>
      <tr>
        <td><%= radiostation.streaming_url %></td>
        <td><%= radiostation.name %></td>
        <td><%= radiostation.logo %></td>
        <td><%= radiostation.description %></td>
        <td><%= radiostation.active %></td>
        <td><%= radiostation.online %></td>
        <td><%= link_to 'Show', radiostation %></td>
        <td><%= link_to 'Edit', edit_radiostation_path(radiostation) %></td>
        <td><%= link_to 'Destroy', radiostation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Radiostation', new_radiostation_path %>
