<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app app-blue-sky">
      <%= render "shared/sidebar" %>
      <div class="app-container">
        <%= render "shared/navbar" %>
        <div class="row">
          <div class="col-xs-12">
          <%= flash_messages %>
          <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
